<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header>
    <h1>Login</h1>

    <nav>
        <span ><a href = "/" class="le">Home</a></span>
        <span ><a href = "/reg.html" class="ri" style="left: 87%;">Registracion</a></span>
    </nav>
</header>

    <form action="/login" method="POST">
        
        <span class="iT">Username</span><br>
        <input type="text" name="username" required>
        <br>
        
        <span class="iT">Password</span><br>
        <input type="password" name="password" required>
        <br>
        
        <input type="submit" value="login">
    </form>
</body>
</html>